/* --- Soft Reset on CSS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Global Styles --- */
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a{
  color: antiquewhite; 
  text-decoration: none; 
}

a:hover{
  text-decoration: underline;
}

/* --- Body Properties --- */
body {
  background-image: url("../images/main-background.jpg");
  background-position: center;
  background-size: 100vw 100vh;
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  height: 100vh;
}
  
/* --- Header properties --- */
header {
  height: 85vh;
    
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }

@media(max-height: 420px){
  header{
    height: 100vh;
  }
}
  
/* --- Menu properties --- */
.menu{
  position: fixed;
  top: 1em;
  z-index: 2;
  width: 90vw;

  border-width: 2px;
  border-style: hidden;
  border-radius: 2em;
  border-color: #0e680e; /* green = 0e680e, red = 8b1615*/
    
  /*background: linear-gradient(#0000, #000 25% 75%, #0000);*/
  background-color: black;
  box-shadow: 0em 0em 0.25em 0.25em #0e680e, inset 0em 0em 0.5em 0.25em #0e680e;
}
  
.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li{
  list-style: none; 
}
  
.menu a {
  display: block;
  padding: 0.62rem 1rem;
  border-radius: 1em;
  transition: color 1.5s, background-color 2s;
}

@media(max-width: 420px){
  .menu ul {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    text-align: center;
  }
}

.menu a:hover{
  color: #000;
  background-color: cornsilk;
}

/* --- Tilte properties and animations --- */
header .box{
  transform: scale(.4);
}

@media (min-width: 650px){
  header .box{
    transform: scale(.8);
  }
}

@media (min-width: 850px){
  header .box{
    transform: scale(1);
  }
}

.title path:nth-child(1){
  stroke-dasharray: 295px;
  stroke-dashoffset: 295px;
  animation: letter-in 2s ease-in-out .2s forwards;
}

.title path:nth-child(2){
  stroke-dasharray: 392px;
  stroke-dashoffset: 392px;
  animation: letter-in 2s ease-in-out .4s forwards;
}

.title path:nth-child(3){
  stroke-dasharray: 298px;
  stroke-dashoffset: 298px;
  animation: letter-in 2s ease-in-out .8s forwards;
}

.title path:nth-child(4){
  stroke-dasharray: 295px;
  stroke-dashoffset: 295px;
  animation: letter-in 2s ease-in-out 1s forwards;
}

.title path:nth-child(5){
  stroke-dasharray: 379px;
  stroke-dashoffset: 379px;
  animation: letter-in 2s ease-in-out 1.2s forwards;
}

.title path:nth-child(6){
  stroke-dasharray: 360px;
  stroke-dashoffset: 360px;
  animation: letter-in 2s ease-in-out 1.4s forwards;
}

.title path:nth-child(7){
  stroke-dasharray: 295px;
  stroke-dashoffset: 295px;
  animation: letter-in 2s ease-in-out 1.6s forwards;
}

.title path:nth-child(8){
  stroke-dasharray: 588px;
  stroke-dashoffset: 588px;
  animation: letter-in 2s ease-in-out 1.8s forwards;
}

.title path:nth-child(9){
  stroke-dasharray: 302px;
  stroke-dashoffset: 302px;
  animation: letter-in 2s ease-in-out 2s forwards;
}

.title path:nth-child(10){
  stroke-dasharray: 295px;
  stroke-dashoffset: 295px;
  animation: letter-in 2s ease-in-out 2.2s forwards;
}

.title path:nth-child(11){
  stroke-dasharray: 379px;
  stroke-dashoffset: 379px;
  animation: letter-in 2s ease-in-out 2.4s forwards;
}

@keyframes letter-in{
  to{
    stroke-dashoffset: 0;
  }
}

.neon {
  animation: neon-light 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 4s forwards;
}

@keyframes neon-light {

  0%{
    filter: drop-shadow(5px 5px 10px black);
  }
  70%{
    filter: drop-shadow(0 0 10px #26ff00) drop-shadow(5px 5px 0px black);
  }
  85%{
    filter: drop-shadow(5px 5px 0px black);
  }
  100%{
    filter: drop-shadow(0 0 10px #26ff00) drop-shadow(5px 5px 0px black);
  }
}

.subtitle path{
  stroke: green;
  stroke-width: 0;
  animation: subtitle-anim 2s ease 3s forwards;
}

@keyframes subtitle-anim{
  from{
    fill:transparent;
  }
  to{
    fill: indigo;
    stroke-width: 2;
  }
}


/* --- Section Properties --- */
.nav-space{
height: calc(10px + 2em);
}

.about,
.contact,
.projects{
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
  color: bisque;
  min-height: 100vh;
  width: 90vw;
  
}

.about h2,
.contact h2,
.projects h2 {
  font-family: 'Irish Grover', cursive;
  text-align: center;
  margin-bottom: .5em;
}

.about .content{
  text-align: center;
}

.about .about-image{
  display: inline-block;
  width: calc(30rem*.8);
  margin-bottom: .5em;
}

.about img{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

@media(min-width: 720px){
  .about .about-image{
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
    text-align: unset;
    float: right;
    margin-left: 1em;
  }

  .about img{
    border-radius: 0;  
  }
}

@media(min-width: 960px){
  .about img{
    height: 24rem;
    width: 24rem; 
  }
}


.about p {
  font-family: 'Josefin Sans', sans-serif;
  text-indent: 2em;
  text-align: justify;
  padding-bottom: .8em;
}

.grid {
  display: grid;
  align-content: space-around;
  justify-content: space-around;
}

.contact .grid,
.projects .grid {
  grid-template-columns: repeat(1, 30rem);
}

@media(min-width:480px){
  .contact .grid{
    grid-template-columns: repeat(2, 50%);
  }
}

@media(min-width:720px){
  .projects .grid{
    grid-template-columns: repeat(2, 40%);
  }
}

@media(min-width:960px){
  .contact .grid{
    grid-template-columns: repeat(4, 25%);
  }
}


.projects figure{
  text-align: center;
  background-color: blue;
  margin-bottom: 1em;
}

.img-projects {
  height: 20rem;
  width: 30rem;
  object-fit: cover;
  object-position: left bottom;
  
  border-radius: .5em;
} 

.contact{
  min-height: 25vh;
}

.contact a{
  font-size: 3em;
  line-height: 1.5em;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.contact a:active,
.contact a:hover{
  text-shadow: 0 0 .1em black, 0 0 .5em #0A0, 0 0 1em rgb(0, 75, 0);
}
  
/* --- Footer Properties --- */
footer {
  text-align: center;
  padding: .5em 0;

  border-top-style: solid;
  border-top-width: 0.2rem;
  border-color: #0e680e; /* green = 0e680e, red = 8b1615*/
    
  background: linear-gradient(#0000, #000 25% 75%, #0000);
  box-shadow: 0em 0em 0.5em 0.05em #0e680e, inset 0em 0em 0.5em 0.05em #0e680e;
}

footer h5 {
  color: antiquewhite;
  font-size: .7em;
  line-height: .8em;
}

footer a {
  font-size: 0.5em;
}