/* --- Soft Reset on CSS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Global Styles --- */
a{
  color: antiquewhite; 
  text-decoration: none; 
}

a:hover{
  text-decoration: underline;
}

/* --- Body Properties --- */
body {
  background-image: url("../images/main-background.jpg");
  background-position: center;
  background-size: 100vw 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  height: 100vh;
}
  
/* --- Header properties --- */
header {
  height: 90vh;
    
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  
.menu{
  position: fixed;
  top: 0;
  width: 100vw;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: #0e680e; /* green = 0e680e, red = 8b1615*/
    
  background: linear-gradient(#0000, #000 25% 75%, #0000);
  box-shadow: 0em 0em 0.5em 0.05em #0e680e, inset 0em 0em 0.5em 0.05em #0e680e;
}
  
.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li{
  list-style: none; 
}
  
.menu a {
  display: block;
  padding: 0.62rem;
}
  
.site-subtitle,
.site-title{
  color: antiquewhite;
  font-family: 'Irish Grover', cursive;
  text-align: center;
  font-style: italic;
    
  text-shadow: 0.22rem 0 0.68rem #ff8700, 
              -0.22rem 0 0.68rem #26ff00, 
               0 -0.22rem 0.68rem #ea960a,
               0 0.22rem 0.68rem white;
}

.site-title {
  font-size: 4em;
}
  
.site-subtitle{
  font-size: 2.5em;
}
  
/* --- Portfolio Section Properties --- */
.portfolio{
  margin: auto;
  color: bisque;
  width: 80vw;
}
  
.portfolio h2 {
  font-family: 'Irish Grover', cursive;
  text-align: center;
  margin-bottom: 2em;
}
  
.portfolio-images {
  display: flex;
  justify-content: space-around;
}
  
.img-portfolio {
  height: 200px;
  width: 300px;
} 
  
  
/* --- Footer Properties --- */
footer {
  text-align: center;
  padding-top: 2em;

  border-top-style: solid;
  border-top-width: 0.2rem;
  border-color: #0e680e; /* green = 0e680e, red = 8b1615*/
    
  background: linear-gradient(#0000, #000 25% 75%, #0000);
  box-shadow: 0em 0em 0.5em 0.05em #0e680e, inset 0em 0em 0.5em 0.05em #0e680e;
}

footer a {
  font-size: 0.5em;
}